@model IEnumerable<Library.Models.Book>
@{
    ViewData["Title"] = "Книги";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="AddBook">Внести новую книгу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Каталожный номер
            </th>
            <th>
                Название
            </th>
            <th>
                Тип
            </th>
            <th>
                Местонахождение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookType)
            </td>
            @if (item.WithClientId != null)
            {
                <td>
                    На руках
                </td>
            }
            else
            {
                <td>
                    В библиотеке
                </td>
            }
        </tr>
        }
    </tbody>
</table>
