@model IEnumerable<Library.Models.Client>
@{
    ViewData["Title"] = "Пользователи";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="AddClient">Зарегистрировать нового пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Регистрационный номер
            </th>
            <th>
                ФИО
            </th>
            <th>
                Имеются взятые книги
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                @if (item.TakenBookId != null)
                {
                    <td>
                        Да
                    </td>
                }
                else
                {
                    <td>
                        Нет
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
