@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron text-center">
    <h1>Веб приложение "Библиотека"</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать!</h2>
        <p>
            Здесь, после регистрации, вы сможете получить в своё полное распоряжение на определённый срок любую заинтересовавшую вас книгу из нашей обширной 
            <a href="Library/Books">коллекции</a>.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Книги</h2>
        <p>Вы можете найти интересующую вас книгу в базе данных по ссылке ниже.</p>
        <p><a class="btn btn-default" href="Library/Books">База данных книг &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Пользователи</h2>
        <p>По ссылке ниже вы можете ознакомиться со списком всех зарегистрированых участников библиотеки.</p>
        <p><a class="btn btn-default" href="Library/Clients">Пользователи &raquo;</a></p>
    </div>
</div>